*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
	background-color: hotpink;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    color: black;
    font-size: 70px;
}

.sub-title{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-title p{
    font-size: 30px;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
	color: black;
}

ul li a :hover{
    background-color: black;
    color: white;
}

.main{
	max-width: 1200px;
	margin: auto;
}